<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yapp.android2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk tools:overrideLibrary="com.yapp.android2.record" />

    <application
        android:name=".BestFriendsApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BestFriends.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">

        <activity
            android:name="com.best.friends.login.KaKaoLoginActivity"
            android:exported="true" />

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_redirection_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.best.friends.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.best.friends.notification.NotificationActivity"
            android:exported="true"
            android:launchMode="singleTask" />

        <service
            android:name=".FCMService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.best.friends.home.MainActivity"
            android:exported="true" />

        <activity
            android:name="com.best.friends.home.register.SavingItemAddActivity"
            android:exported="true"
            android:launchMode="singleTask" />

        <activity
            android:name="com.best.friends.home.update.SavingItemUpdateActivity"
            android:exported="true"
            android:launchMode="singleTask" />

        <activity android:name=".settings.SettingsActivity" />

        <activity
            android:name=".webview.WebViewActivity"
            android:exported="false" />


    </application>

</manifest>
